//
// This file defines additional configuration options that are appropriate only
// for an application on iOS. This should be set at the target level for each
// project configuration.
//

// Import base application settings
#include "../Base/Targets/Application.xcconfig"

// Apply common settings specific to iOS
#include "iOS-Base.xcconfig"


//:configuration = Release
HEADER_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/JSDDevelopDemo/TestSDK/Release

//:configuration = Release
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/JSDDevelopDemo/TestSDK/Release

OTHER_LDFLAGS = $(inherited) -L" $(PROJECT_DIR)/JSDDevelopDemo/TestSDK/Release" -lTestSDK




